<div class="bg"> 
    <section id="user_show" class="users">
        
        <h1 class="display-3">Welcome to <%=@user.username.capitalize%>'s BookShelf</h1>
        <div class="booklists">
            <div class="card">
                <h3 class="shelf-title">Books <%=@user.username.capitalize%> is interested in:</h3>
                <%@books.each do |book|%>
                    <%if @user_books.find_by(:user_id => @user.id, :book_id => book.id) != nil
                        if @user_books.find_by(:user_id => @user.id, :book_id => book.id).read == false %>
                            <li><a href="/books/<%=book.slug%>"><%=book.title.split.map(&:capitalize).join(' ')%></a></li>
                        <%end%>
                    <%end%>
                <%end%>
            </div>
         </div>   

        <div class="booklists">
            <div class="card">
                <h3 class="shelf-title">Books <%=@user.username.capitalize%> has read:</h3>
                <%@books.each do |book|%>
                    <%if @user_books.find_by(:user_id => @user.id, :book_id => book.id) != nil
                        if @user_books.find_by(:user_id => @user.id, :book_id => book.id).read == true %>
                            <li><a href="/books/<%=book.slug%>"><%=book.title.split.map(&:capitalize).join(' ')%></a></li>
                        <%end%>
                    <%end%>
                <%end%>     
            </div>
        </div>    
        <br>
    </section>
</div>