<h3><%= flash[:message] %></h3>

<h1>Welcome to your BookShelf</h1>

<h3>Books <%=@user.username.capitalize%> wants to read.</h3>
<%@books.each do |book|%>
    <%if @user_books.find_by(:user_id => current_user.id, :book_id => book.id) != nil
        if @user_books.find_by(:user_id => current_user.id, :book_id => book.id).read == false %>
            <li><a href="/books/<%=book.slug%>"><%=book.title.split.map(&:capitalize).join(' ')%></a></li>
        <%end%>
    <%end%>
<%end%>


<h3>Books <%=@user.username.capitalize%> has read</h3>
<%@books.each do |book|%>
    <%if @user_books.find_by(:user_id => current_user.id, :book_id => book.id) != nil
        if @user_books.find_by(:user_id => current_user.id, :book_id => book.id).read == true %>
            <li><a href="/books/<%=book.slug%>"><%=book.title.split.map(&:capitalize).join(' ')%></a></li>
        <%end%>
    <%end%>
<%end%>
<br>
<form action="/books/new" method="GET">
    <input type="submit" name="submit" value="Add a new Book">
</form><br>

<form action="/books" method="GET">
    <input type="submit" name="submit" value="See all Books">
</form><br>

<form action="/users" method="GET">
    <input type="submit" name="submit" value="See what others are reading">
</form><br>

<form action="/logout" method="GET">
    <input type="submit" name="submit" value="Logout">
</form>
