<div class="library-container">

    <div class="error">
        <p><%= flash[:message] %></p>
    <div>
    
    <section id="library" class="books">
        <h1 class="display-3">Unsure what you are looking for?</h1>

        <div class="text-center">
            <a class="btn btn-outline-success" href="/books-by-rating" role="button">Browse by Rating</a>

            <a class="btn btn-outline-success" href="/books-by-genre" role="button">Browse by Genre</a><br>
        </div><br>
        
        <h3 small class="text-muted">Browse our Library below.</h3><br><br>

        <div class="container">
            <div class="row row-cols-3">
                <%@books.each do |book|%>
                    <div class="row">
                        <div class="col"><a href="/books/<%=book.slug%>"><%=book.title.split.map(&:capitalize).join(' ')%></a>
                        <p small class="text-muted"><%=book.author.split.map(&:capitalize).join(' ')%></p></div>
                    </div>
                <%end%>
            </div>
        </div>
        <br><br>

        <div class="text-center">
            <form action="/recommendations" method="POST">
                <div class="col-5 mx-auto">
                <select class="form-select" name="genre_category_id" aria-label="Default select example" required>
                    <option selected> Still want more? Select a Genre to view Recommendations</option>
                    <% Genre.all.each do |genre| %>
                        <option id="genre_<%=genre.category_id%>" name="genre_category_id" value="<%= genre.category_id %>"><%= genre.name %></option>
                    <%end%>
                </select>
                </div>
                <input class="btn btn-success" type="submit" value="View Recommendations">
            </form> 
        </div>
        <br><br><br>
    </section>
</div>
