<div class="show-recs">
    <h1 class="display-4">Recommendations for <%=@genre.name%></h1>
    <div class="container">
        <form action="/recommendations/add" method="POST">
            <p small class="text-muted">Select the book you would like to add to your BookShelf</p>
            <div class="row row-cols-2 g-4 mx-auto">
                <% @books.each do |book| %>
                <div class="col">
                    <div class="rec-container">
                        <input class="radio-button" type="radio" id="book" name="book[:title]" value="<%= book[:title] %>" required>
                        <input type="hidden" id="book" name="book[:author]" value="<%= book[:author] %>">
                        <input type="hidden" id="book" name="book[:genre]" value="<%= @genre.id%>">
                        <div class="radio-tile">
                            <label class="rec-label">
                                <%=book[:title]%> 
                                <p small class="text-muted"><%=book[:author]%></p>
                            </label>
                        </div>
                    </div>
                </div><br><br>
                <%end%>
            </div><br><br>
                <div class="text-center">
                    <input class="btn btn-secondary" type="submit" value="Add Book"><br>
                </div>  
        </form>
    </div>
    <br>
    <div class="text-center">
        <a class="btn btn-secondary" href="/books" role="button">Return to the Library</a>
    </div>

</div>
