<h3><%= flash[:message] %></h3>

<h1><%=@book.title.split.map(&:capitalize).join(' ')%></h1>

<h3>Written by: <%=@book.author.split.map(&:capitalize).join(' ')%></h3>

<h4>Genre(s):</h4>
    <%@book.genres.each do |genre|%>
        <li><%=genre.name%></li> 
    <%end%>

<%@ratings = []%>
<%@book.reviews.each do |reivew|%>
    <%@ratings << reivew.rating_value%>
<%end%>

<%if !@book.reviews.empty? %>
    <h4>Average Rating: <%=(@ratings.sum/@ratings.size).to_f%>/5</h4>

    <h4>Reviews:</h4>
        <%@book.reviews.each do |review|%>
            <li><%=review.review%></li>
        <%end%>
<%else%>
    <h4>This book has no reviews.</h4>
<%end%><br>

      
<form action="/books/<%=@book.slug%>/review" method="GET">
    <input type="submit" name="submit" value="Review this Book">
</form><br>

<form action="/books/<%=@book.slug%>/add" method="GET">
    <input type="submit" name="submit" value="Add to your BookShelf">
</form><br>

<form action="/books/<%=@book.slug%>/delete" method="POST">
    <input name="_method" type="hidden" value="delete"> 
    <input type="submit" name="submit" value="Delete from BookShelf">
</form><br>

<form action="/home" method="GET">
    <input type="submit" name="submit" value="Return Home">
</form><br>